@keyframes animateMounting {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.c-task {
  background-color: var(--gray-500);
  padding: 1.6rem;
  border-radius: 8px;
  display: flex;
  align-items: flex-start;
  transition: all 200ms ease-in-out;
  animation: animateMounting 0.4s;
  box-shadow: 0px 0px 0px 1px var(--gray-400) inset;
}

.c-task:has(.c-task__check > input:checked) {
  box-shadow: 0px 0px 0px 1px var(--gray-500) inset;
}

.c-task input {
  visibility: hidden;
  max-width: 0;
  max-height: 0;
}

.c-task__check {
  margin: 0;
  font-size: 0.8rem;
  color: var(--gray-100);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 1.745rem;
  height: 1.745rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 0.13rem solid var(--blue);
  transition: all 200ms ease-in-out;
}

.c-task__check__marker {
  position: absolute;
  visibility: hidden;
}

.c-task__check:hover {
  border-color: var(--blue-dark);
  background-color: var(--blue-dark-200);
}

.c-task__check:has(input:checked) {
  border: none;
  background-color: var(--purple-dark);
}

.c-task__check:has(input:checked):hover {
  background-color: var(--purple);
  opacity: 1;
}

.c-task__check:has(input:checked) > .c-task__check__marker {
  visibility: visible;
}

.c-task__check__content {
  font-size: 0.8rem;
  color: var(--gray-100);
  position: absolute;
}

.c-task__check:has(input:checked) + .c-task__text {
  text-decoration: line-through;
  color: var(--gray-300);
}

.c-task__text {
  margin-left: 1.2rem;
  margin-right: auto;
  color: var(--white);
  font-size: 1.4rem;
  word-break: break-all;
}

.c-task__delete {
  margin-top: -0.5rem;
  padding: 0;
  border: none;
  line-height: 0;
  font-size: 0;
  background-color: unset;
  width: 2.4rem;
  height: 2.4rem;
  padding: 0.5rem;
  transition: all 200ms ease-in-out;
}

.c-task__delete:hover {
  border-radius: 4px;
  background-color: var(--gray-400);
}

.c-task__delete:hover > img {
  filter: invert(64%) sepia(68%) saturate(6253%) hue-rotate(330deg)
    brightness(98%) contrast(80%);
}
